<h1 class="booking__title">Booking Details</h1>

<div *ngIf="loading" class="booking__loading">
  <p>Loading booking details...</p>
</div>

<div *ngIf="booking && !loading" class="booking">
  <h2 class="booking__code">Booking Code: {{ booking.bookingCode }}</h2>

  <h3 class="booking__subtitle">Contact Details:</h3>
  <ul *ngIf="booking.contactDetails" class="booking__contact-list">
    <li *ngFor="let contact of booking.contactDetails" class="booking__contact-list">
      <p>{{ contact.address }}</p>
    </li>
  </ul>

  <h3 class="booking__subtitle">Passengers:</h3>
  <ul *ngIf="booking.passengers" class="booking__passengers">
    <li *ngFor="let passenger of booking.passengers" class="booking__passenger">
      <p>{{ passenger.title.name }} {{ passenger.firstName }} {{ passenger.lastName }}</p>
    </li>
  </ul>

  <h3 class="booking__subtitle">Itinerary:</h3>
  <div *ngIf="booking.itinerary" class="booking__itinerary">
    <h4 class="booking__subtitle">Connections:</h4>
    <div *ngFor="let connection of booking.itinerary.connections" class="booking__connection">
      <div class="booking__connection-header" (click)="toggleAccordion($event)">
        <p class="booking__duration">Duration: {{ connection.segments[0].marketingFlight.operatingFlight.duration }}</p>
        <p class="booking__origin">Origin: {{ connection.segments[0].departFrom.name }}, {{
          connection.segments[0].departFrom.city.name }}, {{ connection.segments[0].departFrom.city.country.name }}</p>
        <p class="booking__destination">Destination: {{ connection.segments[0].arriveOn.name }}, {{
          connection.segments[0].arriveOn.city.name }}, {{ connection.segments[0].arriveOn.city.country.name }}</p>
      </div>
      <div class="booking__connection-details">
        <h5 class="booking__subtitle">Segments:</h5>
        <div *ngFor="let segment of connection.segments" class="booking__segment">
          <p class="booking__departure">Departure: {{ segment.departFrom.name }}, {{ segment.departFrom.city.name }}, {{
            segment.departFrom.city.country.name }}</p>
          <p class="booking__arrival">Arrival: {{ segment.arriveOn.name }}, {{ segment.arriveOn.city.name }}, {{
            segment.arriveOn.city.country.name }}</p>
          <p class="booking__marketing-flight">Marketing Flight: {{ segment.marketingFlight.number }}, {{
            segment.marketingFlight.carrier.name }}</p>
          <p class="booking__status">Status: {{ segment.marketingFlight.status.name }}</p>
          <p class="booking__stops">Number of Stops: {{ segment.marketingFlight.numberOfStops }}</p>
          <p class="booking__selling-class">Selling Class: {{ segment.marketingFlight.sellingClass.code }}</p>
          <p class="booking__operating-flight">Operating Flight: {{ segment.marketingFlight.operatingFlight.number }},
            {{ segment.marketingFlight.operatingFlight.carrier.name }}</p>
          <p class="booking__duration">Duration: {{ segment.marketingFlight.operatingFlight.duration }}</p>
          <p class="booking__flown">Flown: {{ segment.marketingFlight.operatingFlight.flown }}</p>
          <p class="booking__check-in-start">Check-in Start: {{ segment.marketingFlight.operatingFlight.checkInStart }}
          </p>
          <p class="booking__check-in-end">Check-in End: {{ segment.marketingFlight.operatingFlight.checkInEnd }}</p>
          <p class="booking__scheduled-arrival">Scheduled Arrival: {{
            segment.marketingFlight.operatingFlight.scheduledArrival }}</p>
          <p class="booking__scheduled-departure">Scheduled Departure: {{
            segment.marketingFlight.operatingFlight.scheduledDeparture }}</p>
          <p class="booking__arrival-terminal">Arrival Terminal: {{
            segment.marketingFlight.operatingFlight.arrivalTerminal.name }}</p>
          <p class="booking__cabin">Cabin: {{ segment.marketingFlight.operatingFlight.cabin.name }}</p>
          <p class="booking__equipment">Equipment: {{ segment.marketingFlight.operatingFlight.equipment.name }}</p>
        </div>
      </div>
    </div>


  </div>

  <p *ngIf="error" class="booking__error-message">{{ error }}</p>
